
ul {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) );
}

.grid-item {
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 2px;
    height: auto;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

h1{
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1em;
}

p{
  text-align: center;
  justify-content: center;
  font-size: .5em;
}

a {
  line-height: 0;
      font-size: 0;
      color: transparent;
}

li {
  text-decoration: none;
  display: inline;
}

header {
  text-align: center;
}

.thumbNails {
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 10px;
  margin-right: 10px;
}


  #search_input {

    padding: 6px;
    margin: 0px;
    margin-left: 0px;
  }


@media (min-width: 300px){
  #search_input {
    width: 200px;
    padding: 6px;
    margin: 20px;
  }
}

@media (min-width: 600px){
  header {
    text-align:center;
  }

  p {
    font-size: 1em;
  }

  .thumbNails {
    margin: 30px;
  }

  #search_input {
    width: 460px;
    padding: 6px;
    margin: 20px;
  }

  .wrapper{
    margin: 0 auto;
    max-width: 800px;
  }

  .lg-thumb-open .lg-img-wrap {
    padding-bottom: 100px;
  }

  .lg-thumb-outer{
    display: none;
  }
}
