
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    margin: 2px;
    height: auto;
    float: left;
}

img {
  width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

h1{
  font-size: 1em;
}

p{
  text-align: center;
  max-width: 200px;
  font-size: .5em;
}

a {
  line-height: 0;
      font-size: 0;
      color: transparent;
}

li {
  text-decoration: none;
  display: inline;
}

header {
  text-align: center;
}

.thumbNails {
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 10px;
  margin-right: 10px;
}


ul#lightgallery {
  padding: 0;
  margin: 0;

}

  #search_input {

    padding: 6px;
    margin: 0px;
    margin-left: 0px;
  }


@media (min-width: 300px){
  #search_input {
    width: 200px;
    padding: 6px;
    margin: 20px;
  }

  #lightgallery {

    display: table-cell;
    vertical-align: middle;
    text-align:center;
    margin-left: 0px;
  }
}

@media (min-width: 600px){
  header {
    text-align:center;
  }

  p {
    font-size: 1em;
  }

  .thumbNails {
    margin: 30px;
  }

  #search_input {
    width: 460px;
    padding: 6px;
    margin: 20px;
  }

  .wrapper{
    margin: 0 auto;
    max-width: 1300px;
  }

  #lightgallery {

    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 100%;
  }

  .lg-thumb-open .lg-img-wrap {
    padding-bottom: 100px;
  }

  .lg-thumb-outer{
    display: none;
  }
}
